# ignore all files
# also .dta files 
*.ster
*.dta
*.csv
*.Rd
*stargazer*
*.pdf


Tables/*
Economic/*
EIA Compiled Data/*
ERCOT Compiled Data/*
Figures/*
Regresssions/*
Weather/*
R_files/*stargazer*
R_files/.Rhistory
